#title{
  background-color: #ff4c68;
  color : #fff;
}

body{
font-family: 'Montserrat', sans-serif;
font-weight:900;
}


h1{

  font-family: Montserrat Black;

  font-size: 3.5rem;

  font-weight: 900;

  line-height: 1.5;

}

h2{
    font-family: Montserrat Black;
    font-size: 3rem;
    line-height: 1.5;
}

.container{
  padding-top: 3% ;
  padding-bottom: 3%;
  padding-left: 15%;
  padding-right: 15%;
}

.navbar{
    padding-bottom:  4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.1rem;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.Download{
  margin: 5% 3% 5% 0;
}

.ttl{
  width: 250PX;;
  transform: rotate(25deg);
  position: absolute;
  margin-left:50px;

}


#features{
  padding: 7% 14%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature{
text-align: center;
padding: 5%;
}

.a{
  color: #ef8172;
}
.a:hover{
  color: #ff4c68;
}


#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.ts-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ff4c68;
  text-align: center;
}

.s{
  width: 15%;
  margin: 20px 20px 50px;
}


.carousel-item{
    padding: 7% 14%;
}

.ps{
  text-align: center;
  padding: 5% 14%;
}



.mg{
  margin-right: 30px;

}

#cta{
  background-color:  #ff4c68;
  padding: 7% 14% 3%;
  font-family: Montserrat Black;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

.social-icon{
  margin: 10px 5px 12px;
}


#footer{
padding: 5% 14% 3%;
text-align: center;
color: grey;

}




@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

.ttl{
  position: static;
  transform: rotate(0);
  margin: 15px 0px 0px 0px;
}

}
